.cotizacion-formulario {
  padding: 60px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  font-family: 'Arial', sans-serif;
}

.cotizacion-formulario h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.cotizacion-formulario .verde {
  color: #d3b81e;
}

.cotizacion-formulario p {
  text-align: center;
  margin-bottom: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.form-grid input,
.form-grid textarea {
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-grid textarea {
  grid-column: 1 / -1;
  min-height: 120px;
  resize: vertical;
}

.form-grid button {
  grid-column: 1 / -1;
  padding: 14px;
  background-color: #d3b81e;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-grid button:hover {
  background-color: #d3b81e;
}
.error {
  color: red;
  font-size: 0.85rem;
  margin-top: 4px;
  margin-left: 4px;
}
.form-grid div {
  display: flex;
  flex-direction: column;
}

#formulario-cotizacion {
  scroll-margin-top: 100px; /* Ajusta según la altura de tu navbar */
}